<div class="main-container">
  <div class="criar-conta-container">
    <div class="logo-container">
      <img
        class="logo-code-solutions"
        src="code-solutions-100.png"
        alt="Logo da Code Solutions"/>
    </div>

    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Dados Pessoais</ng-template>

          <div class="primeiro-container">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" placeholder="Nome" />
              <mat-error *ngIf="firstFormGroup.get('nome')?.hasError('required')">
                Nome é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Sobrenome</mat-label>
              <input matInput formControlName="sobrenome" placeholder="Sobrenome" />
              <mat-error *ngIf="firstFormGroup.get('sobrenome')?.hasError('required')">
                Sobrenome é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Data de Nascimento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dataNascimento"
                placeholder="Data de Nascimento" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="firstFormGroup.get('dataNascimento')?.hasError('required')">
                Data de Nascimento é obrigatório!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="segundo-container">
            <mat-form-field appearance="outline">
              <mat-label>Gênero</mat-label>
              <mat-select formControlName="genero">
                <mat-option value="feminino">Feminino</mat-option>
                <mat-option value="masculino">Masculino</mat-option>
              </mat-select>
              <mat-error *ngIf="firstFormGroup.get('genero')?.hasError('required')">
                Selecione um Gênero!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Estado Civil</mat-label>
              <mat-select formControlName="estadoCivil">
                <mat-option value="solteiro">Solteiro</mat-option>
                <mat-option value="uniaoEstavel">União Estável</mat-option>
                <mat-option value="casado">Casado</mat-option>
                <mat-option value="divorciado">Divorciado</mat-option>
                <mat-option value="viuvo">Viúvo</mat-option>
              </mat-select>
              <mat-error *ngIf="firstFormGroup.get('estadoCivil')?.hasError('required')">
                Selecione um Estado Civil!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nacionalidade</mat-label>
              <input matInput formControlName="nacionalidade" placeholder="Nacionalidade" />
              <mat-error *ngIf="firstFormGroup.get('nacionalidade')?.hasError('required')">
                Nacionalidade é obrigatório!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="terceiro-container">
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf" mask="000.000.000-00" placeholder="CPF" />
              <mat-error *ngIf="firstFormGroup.get('cpf')?.hasError('required')">
                CPF é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>RG</mat-label>
              <input matInput formControlName="rg" mask="000.000.000-0" placeholder="RG" />
              <mat-error *ngIf="firstFormGroup.get('rg')?.hasError('required')">
                RG é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" placeholder="E-mail" />
              <mat-error *ngIf="firstFormGroup.get('email')?.hasError('required')">
                E-mail é obrigatório!
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('email')?.hasError('email')">
                Por favor, digite um e-mail válido!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="quarto-container">
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="telefone" mask="(00) 00000-0000" placeholder="Telefone" />
              <mat-error *ngIf="firstFormGroup.get('telefone')?.hasError('required')">
                Telefone é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Profissão</mat-label>
              <input matInput formControlName="profissao" placeholder="Profissão" />
              <mat-error *ngIf="firstFormGroup.get('profissao')?.hasError('required')">
                Profissão é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nome da Empresa</mat-label>
              <input matInput formControlName="empresa" placeholder="Nome da Empresa" />
              <mat-error *ngIf="firstFormGroup.get('empresa')?.hasError('required')">
                Nome da Empresa é obrigatório!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="btn-container">
            <button mat-fab matStepperNext [disabled]="firstFormGroup.invalid">PRÓXIMO</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Endereço</ng-template>

          <mat-form-field>
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="secondCtrl"
              placeholder="Ex. 1 Main St, New York, NY"
              required/>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Login</ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
